In [59]:
import pandas as pd
import numpy as np

In [60]:
df = pd.read_csv("data/memdata_clean.csv")

In [70]:
df.sort_values(by='time', ascending=True)

     fees  vsize                       time  sats/vbyte
3    1320    110  2022-06-11 20:52:22-04:00          12
4    6996    632  2022-06-11 20:52:22-04:00          11
5    1016    113  2022-06-11 20:52:22-04:00           8
6     768    111  2022-06-11 20:52:22-04:00           6
7     573    190  2022-06-11 20:52:22-04:00           3
..    ...    ...                        ...         ...
515  3164    142  2022-06-11 20:56:37-04:00          22
517  1704    142  2022-06-11 20:56:37-04:00          12
513  1586    142  2022-06-11 20:56:37-04:00          11
514   390    202  2022-06-11 20:56:37-04:00           1
518   909    181  2022-06-11 20:56:37-04:00           5

[519 rows x 4 columns]

In [67]:
one = df[df['sats/vbyte'].eq(1)]
two = df[df['sats/vbyte'].eq(2)]
three = df[df['sats/vbyte'].eq(3)]
four = df[df['sats/vbyte'].eq(4)]
five = df[df['sats/vbyte'].eq(5)]
six = df[df['sats/vbyte'].eq(6)]
seven = df[df['sats/vbyte'].eq(7)]
eight = df[df['sats/vbyte'].between(8, 10)]
ten = df[df['sats/vbyte'].between(10, 12)]
twelve = df[df['sats/vbyte'].between(12, 15)]
fifteen = df[df['sats/vbyte'].between(15, 20)]
twenty = df[df['sats/vbyte'].between(20, 25)]
twentyfive = df[df['sats/vbyte'].between(25, 30)]
thirty = df[df['sats/vbyte'].between(30, 40)]
forty = df[df['sats/vbyte'].between(40, 50)]
fifty = df[df['sats/vbyte'].between(50, 60)]
sixty = df[df['sats/vbyte'].between(60, 70)]
seventy = df[df['sats/vbyte'].between(70, 80)]
eighty = df[df['sats/vbyte'].between(80, 100)]
hundred = df[df['sats/vbyte'].between(100, 150)]
hundred_five = df[df['sats/vbyte'].between(150, 200)]
two_hundred = df[df['sats/vbyte'].between(200, 250)]
two_five_plus = df[df['sats/vbyte'] >= 250]['sats/vbyte'].value_counts()

In [68]:
one['sum'] = np.arange(one.shape[0])
two['sum'] = np.arange(two.shape[0])
three['sum'] = np.arange(three.shape[0])
four['sum'] = np.arange(four.shape[0])
five['sum'] = np.arange(five.shape[0])
six['sum'] = np.arange(six.shape[0])
seven['sum'] = np.arange(seven.shape[0])
eight['sum'] = np.arange(eight.shape[0])
ten['sum'] = np.arange(ten.shape[0])
twelve['sum'] = np.arange(twelve.shape[0])
fifteen['sum'] = np.arange(fifteen.shape[0])
twenty['sum'] = np.arange(twenty.shape[0])
twentyfive['sum'] = np.arange(twentyfive.shape[0])
thirty['sum'] = np.arange(thirty.shape[0])
forty['sum'] = np.arange(forty.shape[0])
fifty['sum'] = np.arange(fifty.shape[0])
sixty['sum'] = np.arange(sixty.shape[0])
seventy['sum'] = np.arange(seventy.shape[0])
eighty['sum'] = np.arange(eighty.shape[0])
hundred['sum'] = np.arange(hundred.shape[0])
hundred_five['sum'] = np.arange(hundred_five.shape[0])
two_hundred['sum'] = np.arange(two_hundred.shape[0])
two_five_plus['sum'] = np.arange(two_five_plus.shape[0])

<ipython-input-68-d18cbde1e9b7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  one['sum'] = np.arange(one.shape[0])
<ipython-input-68-d18cbde1e9b7>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  two['sum'] = np.arange(two.shape[0])
<ipython-input-68-d18cbde1e9b7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  three['sum'] = np.arange(three.shape[0])
<ipython-input-68-d18cbde1e9b7>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  four['sum'] = np.arange(four.shape[0])
<ipython-input-68-d18cbde1e9b7>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  five['sum'] = np.arange(five.shape[0])
<ipython-input-68-d18cbde1e9b7>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  six['sum'] = np.arange(six.shape[0])
<ipython-input-68-d18cbde1e9b7>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seven['sum'] = np.arange(seven.shape[0])
<ipython-input-68-d18cbde1e9b7>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  eight['sum'] = np.arange(eight.shape[0])
<ipython-input-68-d18cbde1e9b7>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ten['sum'] = np.arange(ten.shape[0])
<ipython-input-68-d18cbde1e9b7>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  twelve['sum'] = np.arange(twelve.shape[0])
<ipython-input-68-d18cbde1e9b7>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fifteen['sum'] = np.arange(fifteen.shape[0])
<ipython-input-68-d18cbde1e9b7>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  twenty['sum'] = np.arange(twenty.shape[0])
<ipython-input-68-d18cbde1e9b7>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  twentyfive['sum'] = np.arange(twentyfive.shape[0])
<ipython-input-68-d18cbde1e9b7>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  thirty['sum'] = np.arange(thirty.shape[0])
<ipython-input-68-d18cbde1e9b7>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  forty['sum'] = np.arange(forty.shape[0])
<ipython-input-68-d18cbde1e9b7>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fifty['sum'] = np.arange(fifty.shape[0])
<ipython-input-68-d18cbde1e9b7>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  eighty['sum'] = np.arange(eighty.shape[0])
<ipython-input-68-d18cbde1e9b7>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hundred['sum'] = np.arange(hundred.shape[0])
<ipython-input-68-d18cbde1e9b7>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hundred_five['sum'] = np.arange(hundred_five.shape[0])

In [71]:
two

     fees  vsize                       time  sats/vbyte  sum
9     336    144  2022-06-11 20:52:24-04:00           2    0
17    378    169  2022-06-11 20:52:28-04:00           2    1
18    541    181  2022-06-11 20:54:34-04:00           2    2
21    760    379  2022-06-11 20:52:30-04:00           2    3
22    445    222  2022-06-11 20:52:31-04:00           2    4
26    419    208  2022-06-11 20:54:32-04:00           2    5
34    330    111  2022-06-11 20:52:35-04:00           2    6
48    336    144  2022-06-11 20:52:43-04:00           2    7
51    330    142  2022-06-11 20:52:46-04:00           2    8
56    419    141  2022-06-11 20:52:47-04:00           2    9
66    332    166  2022-06-11 20:52:57-04:00           2   10
76    288    144  2022-06-11 20:53:05-04:00           2   11
102   423    142  2022-06-11 20:53:15-04:00           2   12
107   548    236  2022-06-11 20:53:15-04:00           2   13
114   330    142  2022-06-11 20:53:20-04:00           2   14
130   460    216  2022-06-11 20:53:26-04:00           2   15
131   243    121  2022-06-11 20:53:26-04:00           2   16
133   423    142  2022-06-11 20:53:27-04:00           2   17
138   255    111  2022-06-11 20:53:28-04:00           2   18
153   534    209  2022-06-11 20:53:34-04:00           2   19
154   330    142  2022-06-11 20:53:34-04:00           2   20
156   377    142  2022-06-11 20:53:35-04:00           2   21
178   327    141  2022-06-11 20:53:49-04:00           2   22
190   942    315  2022-06-11 20:53:52-04:00           2   23
195   220    110  2022-06-11 20:53:54-04:00           2   24
220   463    231  2022-06-11 20:54:05-04:00           2   25
223   228    111  2022-06-11 20:54:07-04:00           2   26
239   744    279  2022-06-11 20:54:14-04:00           2   27
254   419    144  2022-06-11 20:54:22-04:00           2   28
255   389    192  2022-06-11 20:54:22-04:00           2   29
269   400    142  2022-06-11 20:54:31-04:00           2   30
281   336    168  2022-06-11 20:54:36-04:00           2   31
284   419    141  2022-06-11 20:54:38-04:00           2   32
294   600    222  2022-06-11 20:54:41-04:00           2   33
309   419    141  2022-06-11 20:54:49-04:00           2   34
314   330    142  2022-06-11 20:54:52-04:00           2   35
324   336    144  2022-06-11 20:54:57-04:00           2   36
325   362    178  2022-06-11 20:54:57-04:00           2   37
329   419    141  2022-06-11 20:54:59-04:00           2   38
341   330    111  2022-06-11 20:55:06-04:00           2   39
342   419    142  2022-06-11 20:55:06-04:00           2   40
372   330    142  2022-06-11 20:55:19-04:00           2   41
373   423    142  2022-06-11 20:55:19-04:00           2   42
383   330    142  2022-06-11 20:55:22-04:00           2   43
411  2250   1092  2022-06-11 20:55:39-04:00           2   44
442  1347    480  2022-06-11 20:55:53-04:00           2   45
443   332    166  2022-06-11 20:55:53-04:00           2   46
450   336    144  2022-06-11 20:55:57-04:00           2   47
456   327    141  2022-06-11 20:56:01-04:00           2   48
458   735    277  2022-06-11 20:56:02-04:00           2   49
466   419    141  2022-06-11 20:56:09-04:00           2   50
470   330    142  2022-06-11 20:56:12-04:00           2   51
475   419    142  2022-06-11 20:56:13-04:00           2   52
483   419    144  2022-06-11 20:56:19-04:00           2   53
494   460    214  2022-06-11 20:56:24-04:00           2   54
497  1296    439  2022-06-11 20:56:25-04:00           2   55
498   327    141  2022-06-11 20:56:25-04:00           2   56
511   330    142  2022-06-11 20:56:34-04:00           2   57

In [7]:
My_list = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]
df1 = (df[df['sats/vbyte'].isin(My_list)]
        .groupby('sats/vbyte', sort=False)['sats/vbyte']
        .agg(['size','mean'])
        .rename(columns={'mean':'average', 'size':'count'})
        .reset_index())

In [8]:
df1

    sats/vbyte  count  average
0            5     57        5
1           12     63       12
2           11     69       11
3            8      5        8
4            6     24        6
5            3     35        3
6            2     58        2
7            9     24        9
8           30      7       30
9            4     28        4
10           1     48        1
11          20      7       20
12          17      5       17
13          16     17       16
14          28      1       28
15          10     10       10
16          22      5       22
17          21      2       21
18          15      7       15
19          14      5       14
20          19      2       19
21           7      9        7
22          25      2       25
23          13      4       13
24          24      2       24
25          18      2       18
26          29      1       29