In [40]:
import pandas as pd
import numpy as np

In [41]:
df = pd.read_csv("data/memdata_clean.csv")

In [42]:
df

     fees  vsize                       time  sats/vbyte
0    6860    188  2022-06-11 20:52:31-04:00          36
1    1060    209  2022-06-11 20:52:28-04:00           5
2     606    110  2022-06-11 20:55:43-04:00           5
3    1320    110  2022-06-11 20:52:22-04:00          12
4    6996    632  2022-06-11 20:52:22-04:00          11
..    ...    ...                        ...         ...
514   390    202  2022-06-11 20:56:37-04:00           1
515  3164    142  2022-06-11 20:56:37-04:00          22
516  3073    208  2022-06-11 20:56:37-04:00          14
517  1704    142  2022-06-11 20:56:37-04:00          12
518   909    181  2022-06-11 20:56:37-04:00           5

[519 rows x 4 columns]

In [43]:
one = df[df['sats/vbyte'] == 1]['sats/vbyte'].value_counts()
two = df[df['sats/vbyte'] == 2]['sats/vbyte'].value_counts()
three = df[df['sats/vbyte'] == 3]['sats/vbyte'].value_counts()
four = df[df['sats/vbyte'] == 4]['sats/vbyte'].value_counts()
five = df[df['sats/vbyte'] == 5]['sats/vbyte'].value_counts()
six = df[df['sats/vbyte'] == 6]['sats/vbyte'].value_counts()
seven = df[df['sats/vbyte'] == 7]['sats/vbyte'].value_counts()
eight = df[df['sats/vbyte'].between(8, 10)]
ten = df[df['sats/vbyte'].between(10, 12)]
twelve = df[df['sats/vbyte'].between(12, 15)]
fifteen = df[df['sats/vbyte'].between(15, 20)]
twenty = df[df['sats/vbyte'].between(20, 25)]
twentyfive = df[df['sats/vbyte'].between(25, 30)]
thirty = df[df['sats/vbyte'].between(30, 40)]
forty = df[df['sats/vbyte'].between(40, 50)]
fifty = df[df['sats/vbyte'].between(50, 60)]
sixty = df[df['sats/vbyte'].between(60, 70)]
seventy = df[df['sats/vbyte'].between(70, 80)]
eighty = df[df['sats/vbyte'].between(80, 100)]
hundred = df[df['sats/vbyte'].between(100, 150)]
hundred_five = df[df['sats/vbyte'].between(150, 200)]
two_hundred = df[df['sats/vbyte'].between(200, 250)]
two_five_plus = df[df['sats/vbyte'] >= 250]['sats/vbyte'].value_counts()

In [44]:
thirteen

(13    4
 Name: sats/vbyte, dtype: int64,
 14    5
 Name: sats/vbyte, dtype: int64,
 15    7
 Name: sats/vbyte, dtype: int64)

AttributeError: 'Series' object has no attribute 'value_count'

In [30]:
My_list = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]
df1 = (df[df['sats/vbyte'].isin(My_list)]
        .groupby('sats/vbyte', sort=False)['sats/vbyte']
        .agg(['size','mean'])
        .rename(columns={'mean':'average', 'size':'count'})
        .reset_index())

In [31]:
df1

    sats/vbyte  count  average
0            5     57        5
1           12     63       12
2           11     69       11
3            8      5        8
4            6     24        6
5            3     35        3
6            2     58        2
7            9     24        9
8           30      7       30
9            4     28        4
10           1     48        1
11          20      7       20
12          17      5       17
13          16     17       16
14          28      1       28
15          10     10       10
16          22      5       22
17          21      2       21
18          15      7       15
19          14      5       14
20          19      2       19
21           7      9        7
22          25      2       25
23          13      4       13
24          24      2       24
25          18      2       18
26          29      1       29