In [67]:
import pandas as pd
import numpy as np

In [68]:
df = pd.read_csv("data/memdata_clean.csv")

In [69]:
df.sort_values(by='time', ascending=True)

     fees  vsize                       time  sats/vbyte
3    1320    110  2022-06-11 20:52:22-04:00          12
4    6996    632  2022-06-11 20:52:22-04:00          11
5    1016    113  2022-06-11 20:52:22-04:00           8
6     768    111  2022-06-11 20:52:22-04:00           6
7     573    190  2022-06-11 20:52:22-04:00           3
..    ...    ...                        ...         ...
515  3164    142  2022-06-11 20:56:37-04:00          22
517  1704    142  2022-06-11 20:56:37-04:00          12
513  1586    142  2022-06-11 20:56:37-04:00          11
514   390    202  2022-06-11 20:56:37-04:00           1
518   909    181  2022-06-11 20:56:37-04:00           5

[519 rows x 4 columns]

In [70]:
one = df[df['sats/vbyte'].eq(1)]
two = df[df['sats/vbyte'].eq(2)]
three = df[df['sats/vbyte'].eq(3)]
four = df[df['sats/vbyte'].eq(4)]
five = df[df['sats/vbyte'].eq(5)]
six = df[df['sats/vbyte'].eq(6)]
seven = df[df['sats/vbyte'].eq(7)]
eight = df[df['sats/vbyte'].between(8, 10)]
ten = df[df['sats/vbyte'].between(10, 12)]
twelve = df[df['sats/vbyte'].between(12, 15)]
fifteen = df[df['sats/vbyte'].between(15, 20)]
twenty = df[df['sats/vbyte'].between(20, 25)]
twentyfive = df[df['sats/vbyte'].between(25, 30)]
thirty = df[df['sats/vbyte'].between(30, 40)]
forty = df[df['sats/vbyte'].between(40, 50)]
fifty = df[df['sats/vbyte'].between(50, 60)]
sixty = df[df['sats/vbyte'].between(60, 70)]
seventy = df[df['sats/vbyte'].between(70, 80)]
eighty = df[df['sats/vbyte'].between(80, 100)]
hundred = df[df['sats/vbyte'].between(100, 150)]
hundred_five = df[df['sats/vbyte'].between(150, 200)]
two_hundred = df[df['sats/vbyte'].between(200, 250)]
two_five_plus = df[df['sats/vbyte'] >= 250]['sats/vbyte'].value_counts()

In [71]:
one['sum'] = np.arange(one.shape[0])
two['sum'] = np.arange(two.shape[0])
three['sum'] = np.arange(three.shape[0])
four['sum'] = np.arange(four.shape[0])
five['sum'] = np.arange(five.shape[0])
six['sum'] = np.arange(six.shape[0])
seven['sum'] = np.arange(seven.shape[0])
eight['sum'] = np.arange(eight.shape[0])
ten['sum'] = np.arange(ten.shape[0])
twelve['sum'] = np.arange(twelve.shape[0])
fifteen['sum'] = np.arange(fifteen.shape[0])
twenty['sum'] = np.arange(twenty.shape[0])
twentyfive['sum'] = np.arange(twentyfive.shape[0])
thirty['sum'] = np.arange(thirty.shape[0])
forty['sum'] = np.arange(forty.shape[0])
fifty['sum'] = np.arange(fifty.shape[0])
sixty['sum'] = np.arange(sixty.shape[0])
seventy['sum'] = np.arange(seventy.shape[0])
eighty['sum'] = np.arange(eighty.shape[0])
hundred['sum'] = np.arange(hundred.shape[0])
hundred_five['sum'] = np.arange(hundred_five.shape[0])
two_hundred['sum'] = np.arange(two_hundred.shape[0])
two_five_plus['sum'] = np.arange(two_five_plus.shape[0])

<ipython-input-71-d18cbde1e9b7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  one['sum'] = np.arange(one.shape[0])
<ipython-input-71-d18cbde1e9b7>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  two['sum'] = np.arange(two.shape[0])
<ipython-input-71-d18cbde1e9b7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  three['sum'] = np.arange(three.shape[0])
<ipython-input-71-d18cbde1e9b7>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  four['sum'] = np.arange(four.shape[0])
<ipython-input-71-d18cbde1e9b7>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  five['sum'] = np.arange(five.shape[0])
<ipython-input-71-d18cbde1e9b7>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  six['sum'] = np.arange(six.shape[0])
<ipython-input-71-d18cbde1e9b7>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seven['sum'] = np.arange(seven.shape[0])
<ipython-input-71-d18cbde1e9b7>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  eight['sum'] = np.arange(eight.shape[0])
<ipython-input-71-d18cbde1e9b7>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ten['sum'] = np.arange(ten.shape[0])
<ipython-input-71-d18cbde1e9b7>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  twelve['sum'] = np.arange(twelve.shape[0])
<ipython-input-71-d18cbde1e9b7>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fifteen['sum'] = np.arange(fifteen.shape[0])
<ipython-input-71-d18cbde1e9b7>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  twenty['sum'] = np.arange(twenty.shape[0])
<ipython-input-71-d18cbde1e9b7>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  twentyfive['sum'] = np.arange(twentyfive.shape[0])
<ipython-input-71-d18cbde1e9b7>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  thirty['sum'] = np.arange(thirty.shape[0])
<ipython-input-71-d18cbde1e9b7>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  forty['sum'] = np.arange(forty.shape[0])
<ipython-input-71-d18cbde1e9b7>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fifty['sum'] = np.arange(fifty.shape[0])
<ipython-input-71-d18cbde1e9b7>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  eighty['sum'] = np.arange(eighty.shape[0])
<ipython-input-71-d18cbde1e9b7>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hundred['sum'] = np.arange(hundred.shape[0])
<ipython-input-71-d18cbde1e9b7>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hundred_five['sum'] = np.arange(hundred_five.shape[0])

In [72]:
two_hundred

Empty DataFrame
Columns: [fees, vsize, time, sats/vbyte, sum]
Index: []

In [74]:
one = one.drop(axis=1,columns={"fees", "vsize", "time", "sats/vbyte"})
two = two.drop(axis=1,columns={"fees", "vsize", "time", "sats/vbyte"})
three = three.drop(axis=1,columns={"fees", "vsize", "time", "sats/vbyte"})
four = four.drop(axis=1,columns={"fees", "vsize", "time", "sats/vbyte"})
five = five.drop(axis=1,columns={"fees", "vsize", "time", "sats/vbyte"})
six = six.drop(axis=1,columns={"fees", "vsize", "time", "sats/vbyte"})
seven = seven.drop(axis=1,columns={"fees", "vsize", "time", "sats/vbyte"})
eight = eight.drop(axis=1,columns={"fees", "vsize", "time", "sats/vbyte"})
ten = ten.drop(axis=1,columns={"fees", "vsize", "time", "sats/vbyte"})
twelve = twelve.drop(axis=1,columns={"fees", "vsize", "time", "sats/vbyte"})
fifteen = fifteen.drop(axis=1,columns={"fees", "vsize", "time", "sats/vbyte"})
twenty = twenty.drop(axis=1,columns={"fees", "vsize", "time", "sats/vbyte"})
twentyfive = twentyfive.drop(axis=1,columns={"fees", "vsize", "time", "sats/vbyte"})
thirty = thirty.drop(axis=1,columns={"fees", "vsize", "time", "sats/vbyte"})
forty = forty.drop(axis=1,columns={"fees", "vsize", "time", "sats/vbyte"})
fifty = fifty.drop(axis=1,columns={"fees", "vsize", "time", "sats/vbyte"})
sixty = sixty.drop(axis=1,columns={"fees", "vsize", "time", "sats/vbyte"})
seventy = seventy.drop(axis=1,columns={"fees", "vsize", "time", "sats/vbyte"})
eighty = eighty.drop(axis=1,columns={"fees", "vsize", "time", "sats/vbyte"})
hundred = hundred.drop(axis=1,columns={"fees", "vsize", "time", "sats/vbyte"})
hundred_five = hundred_five.drop(axis=1,columns={"fees", "vsize", "time", "sats/vbyte"})
two_hundred = two_hundred.drop(axis=1,columns={"fees", "vsize", "time", "sats/vbyte"})
two_five_plus = two_five_plus.drop(axis=1,columns={"fees", "vsize", "time", "sats/vbyte"})

In [84]:
df.merge(one, left_index=True, right_index=True, how='left', indicator=True)
df.merge(one, left_index=True, right_index=True, how='left', indicator=True)
df.merge(one, left_index=True, right_index=True, how='left', indicator=True)
df.merge(one, left_index=True, right_index=True, how='left', indicator=True)
df.merge(one, left_index=True, right_index=True, how='left', indicator=True)
df.merge(one, left_index=True, right_index=True, how='left', indicator=True)
df.merge(one, left_index=True, right_index=True, how='left', indicator=True)
df.merge(one, left_index=True, right_index=True, how='left', indicator=True)

     fees  vsize                       time  sats/vbyte   sum     _merge
0    6860    188  2022-06-11 20:52:31-04:00          36   NaN  left_only
1    1060    209  2022-06-11 20:52:28-04:00           5   NaN  left_only
2     606    110  2022-06-11 20:55:43-04:00           5   NaN  left_only
3    1320    110  2022-06-11 20:52:22-04:00          12   NaN  left_only
4    6996    632  2022-06-11 20:52:22-04:00          11   NaN  left_only
..    ...    ...                        ...         ...   ...        ...
514   390    202  2022-06-11 20:56:37-04:00           1  47.0       both
515  3164    142  2022-06-11 20:56:37-04:00          22   NaN  left_only
516  3073    208  2022-06-11 20:56:37-04:00          14   NaN  left_only
517  1704    142  2022-06-11 20:56:37-04:00          12   NaN  left_only
518   909    181  2022-06-11 20:56:37-04:00           5   NaN  left_only

[519 rows x 6 columns]

In [78]:
five

     sum
1      0
2      1
27     2
50     3
101    4
106    5
119    6
122    7
159    8
163    9
165   10
170   11
188   12
189   13
196   14
208   15
225   16
226   17
234   18
237   19
247   20
252   21
261   22
265   23
268   24
278   25
308   26
336   27
351   28
352   29
353   30
354   31
356   32
369   33
371   34
380   35
381   36
392   37
394   38
403   39
405   40
406   41
413   42
424   43
425   44
434   45
448   46
462   47
463   48
465   49
473   50
480   51
482   52
491   53
493   54
496   55
518   56

In [12]:
My_list = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]
df1 = (df[df['sats/vbyte'].isin(My_list)]
        .groupby('sats/vbyte', sort=False)['sats/vbyte']
        .agg(['size',])
        .rename(columns={'size':'count'})
        .reset_index())

In [13]:
df1

    sats/vbyte  count
0            5     57
1           12     63
2           11     69
3            8      5
4            6     24
5            3     35
6            2     58
7            9     24
8           30      7
9            4     28
10           1     48
11          20      7
12          17      5
13          16     17
14          28      1
15          10     10
16          22      5
17          21      2
18          15      7
19          14      5
20          19      2
21           7      9
22          25      2
23          13      4
24          24      2
25          18      2
26          29      1